
@model List<Fiby.Cloud.Web.DTO.Modules.Gestion.Response.CitaDTOResponse>

@{
    Layout = "";
}
<div class="table-responsive">
    <table id="tablaCita" class="display table table-striped table-hover">
        <thead id="thCita">
            <tr>
                <th class="text-center">Fecha Cita</th>
                <th class="text-center">Hora</th>
                <th class="text-center">Paciente</th>
                <th class="text-center">Especialidad</th>
                <th class="text-center">Doctor</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody id="tbCita">
            @for (int i = 0; i < Model.Count; i++)
            {
                var item = Model.ToList()[i];

                <tr>
                    <td class="text-center">@item.FechaCita.Value.ToString("dd/MM/yyyy")</td>
                    <td class="text-center">@item.Hora.Substring(0, 5)</td>
                    <td class="text-center">@item.NombrePaciente</td>
                    <td class="text-center">@item.DescripcionEspecialidad</td>
                    <td class="text-center">@item.NombreDoctor</td>
                    <td class="text-center">@item.DescripcionSituacionCita</td>
                    <td class="text-center">
                        <div class="form-button-action">
                            <button class="btn btn-link btn-danger btn-lg" onclick="citajs.eliminarCita(@item.IdCita)" title="Eliminar">
                                <i class="fa fa-trash"></i>
                            </button>
                            <button class="btn btn-link btn-primary btn-lg" onclick="citajs.openModal(@item.IdCita)" title="Editar">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>