
@{ Layout = null; }


<link href="~/app/areas/horario/views/disponibilidad/css/jquery-ui.css" rel="stylesheet">
<link href="~/app/areas/horario/views/disponibilidad/css/agregarservicio.css" rel="stylesheet">

<div class="modal-content">
    <div class="text-center">
        <div class="modal-header center-block">
            <h4 class="modal-title text-center" id="modal-step-title">
                <strong>@ViewBag.titleModal</strong>
            </h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="fiby-md-form">
                    <select class="fiby-input-text" id="cboEmpleado">
                        @foreach (var item in ViewBag.ListaEmpleados)
                        {
                            <option value="@item.Codigo">@item.Descripcion</option>
                        }
                    </select>
                    <label for="cboEmpleado" class="fiby-label active">Empleado</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fiby-md-form">
                    <input type="text" value="@ViewBag.Fecha" class="fiby-input-text form-control" id="txtFechaAdd" placeholder=" ">
                    <label for="txtFechaAdd" class="fiby-label active">Día</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="fiby-md-form">
                    <select class="fiby-input-text" id="cboHoraInicio">
                        @foreach (var item in ViewBag.ListaHorario)
                        {
                            <option value="@item.Horario">@item.Horario</option>
                        }
                    </select>
                    <label for="cboHoraInicio" class="fiby-label active">Hora Inicio</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fiby-md-form">
                    <select class="fiby-input-text" id="txtHoras">
                        <option disabled selected value="0"></option>
                        <option value="3">3 Horas</option>
                        <option value="4">4 Horas</option>
                        <option value="5">5 Horas</option>
                        <option value="6">6 Horas</option>
                        <option value="7">7 Horas</option>
                        <option value="8">8 Horas</option>
                        <option value="9">9 Horas</option>
                        <option value="10">10 Horas</option>
                        <option value="11">11 Horas</option>
                        <option value="12">12 Horas</option>
                    </select>
                    <label for="txtHoras" class="fiby-label active">Cantidad de Horas</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fiby-md-form">
                    <select class="fiby-input-text" id="cboHoraFin">
                        @foreach (var item in ViewBag.ListaHorario)
                        {
                            <option value="@item.Horario">@item.Horario</option>
                        }
                    </select>
                    <label for="cboHoraFin" class="fiby-label active">Hora Fin</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="fiby-md-form">
                    <select class="fiby-input-text" id="combobox">
                        <option selected id="originalValue" value="0"></option>
                        @foreach (var item in ViewBag.ListaCliente)
                        {
                            <option value="@item.IdCliente">@item.Nombres</option>
                        }
                    </select>
                    <label for="combobox" class="fiby-label active">Cliente</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fiby-md-form">
                    <input type="text" class="fiby-input-text form-control" id="txtTelefono" placeholder=" ">
                    <label for="txtTelefono" class="fiby-label active">Telefono</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="fiby-md-form">
                    <input type="text" class="fiby-input-text form-control" id="txtDireccion" placeholder=" ">
                    <label for="txtDireccion" class="fiby-label active">Dirección</label>
                </div>
            </div>
        </div>
    </div>

    <div class="align-self-center d-flex modal-buttons-div">
        <button type="button" class="btn btn-info btn modal-btn-save" id="btnActualizarPasaje" onclick="disponibilidadjs.registrarServicio();">
            REGISTRAR SERVICIO
        </button>
        <button type="button" class="btn btn-info btn" data-dismiss="modal">
            CERRAR
        </button>
    </div>

</div>
@*<script type="text/javascript" src="@Url.Content("~/app/areas/horario/views/disponibilidad/js/jquery-ui.js")" asp-append-version="true"></script>*@
<script type="text/javascript" src="@Url.Content("~/app/areas/horario/views/disponibilidad/js/agregarservicio.js")" asp-append-version="true"></script>