@model Fiby.Cloud.Web.DTO.Modules.Horario.Response.CalendarioDTOResponse
@{ Layout = null; }
<div class="modal-content">
    <div class="text-center">
        <div class="modal-header center-block">
            <h4 class="modal-title text-center" id="modal-step-title">
                <strong>@ViewBag.titleModal</strong>
            </h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="fiby-md-form">
                    <input readonly type="text" value="@Model.Fecha.Value.ToString("dd/MM/yyyy")" class="fiby-input-text form-control" id="txtFechaEditar" placeholder=" ">
                    <label for="txtFechaEditar" class="fiby-label active">Día</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fiby-md-form">
                    <input readonly type="text" value="@Model.ClienteOpcional" class="fiby-input-text form-control" id="txtHoraInicioEditar" placeholder=" ">
                    <label for="txtHoraInicioEditar" class="fiby-label active">Cliente</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="fiby-md-form">
                    @if (Model.Pasaje > 0)
                    {
                        <input type="text" value="@Model.Pasaje.ToString("0.00")" class="fiby-input-text form-control" id="txtPasajeEditar" placeholder=" ">
                    }
                    else
                    {
                        <input type="text" class="fiby-input-text form-control" id="txtPasajeEditar" placeholder="0.00">
                    }
                    <label for="txtPasajeEditar" class="fiby-label active">Pasaje</label>
                </div>
            </div>
        </div>
        <input type="hidden" id="hiddenModalServicioIsNew" name="hiddenModalServicioIsNew" value="@ViewBag.ModalGeneralIsNew" />
        <input type="hidden" id="hiddenServicioId" name="hiddenServicioId" value="@Model.IdServicio" />
    </div>

    <div class="align-self-center d-flex modal-buttons-div">
        <button type="button" class="btn btn-info btn modal-btn-save" id="btnActualizarPasaje" onclick="pagoempleadojs.actualizarPasaje();">
            ACTUALIZAR PASAJE
        </button>
        <button type="button" class="btn btn-info btn" data-dismiss="modal">
            CERRAR
        </button>
    </div>

</div>
