@model Fiby.Cloud.Web.DTO.Modules.Maintenance.Response.ClienteDTOResponse
@{ Layout = null; }
<div class="modal-content">
    <div class="text-center">
        <div class="modal-header center-block">
            <h4 class="modal-title text-center" id="modal-step-title">
                <strong>@ViewBag.titleModal</strong>
            </h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="fiby-md-form">
                    <input type="text" value="@Model.Nombres" class="fiby-input-text form-control" id="txtNombreEditar" placeholder=" ">
                    <label for="txtNombreEditar" class="fiby-label active">Nombres</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fiby-md-form">
                    <input type="text" value="@Model.Telefono" class="fiby-input-text form-control" id="txtTelefonoEditar" placeholder=" ">
                    <label for="txtTelefonoEditar" class="fiby-label active">Telefono</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="fiby-md-form">
                    <input type="text" value="@Model.Direccion" class="fiby-input-text form-control" id="txtDireccionEditar" placeholder=" ">
                    <label for="txtDireccionEditar" class="fiby-label active">Dirección</label>
                </div>
            </div>
        </div>
        <input type="hidden" id="hiddenModalClienteIsNew" name="hiddenModalServicioIsNew" value="@ViewBag.ModalGeneralIsNew" />
        <input type="hidden" id="hiddenClienteId" name="hiddenClienteId" value="@Model.IdCliente" />
    </div>

    <div class="align-self-center d-flex modal-buttons-div">
        <button type="button" class="btn btn-info btn modal-btn-save" id="btnActualizar" onclick="clientejs.actualizarCliente();">
            ACTUALIZAR
        </button>
        <button type="button" class="btn btn-info btn" data-dismiss="modal">
            CERRAR
        </button>
    </div>

</div>
