@model Fiby.Cloud.Web.DTO.Modules.Horario.Response.CalendarioDTOResponse
@{ Layout = null; }
<div class="modal-content">
    <div class="text-center">
        <div class="modal-header center-block">
            <h4 class="modal-title text-center" id="modal-step-title">
                <strong>@ViewBag.titleModal</strong>
            </h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="fiby-md-form">
                    <input readonly type="text" value="@Model.Fecha.Value.ToString("dd/MM/yyyy")" class="fiby-input-text form-control" id="txtFechaEditar" placeholder=" ">
                    <label for="txtFechaEditar" class="fiby-label active">Fecha</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="fiby-md-form">
                    @*<input type="text" value="@Model.HoraInicio" class="fiby-input-text form-control" id="txtHoraInicioEditar" placeholder=" ">
                <label for="txtHoraInicioEditar" class="fiby-label active">Hora de Inicio</label>*@
                    <select class="fiby-input-text" id="txtHoraInicioEditar">
                        @foreach (var item in ViewBag.ListaHorario)
                        {
                            if (item.Horario == Model.HoraInicio)
                            {
                                <option selected value="@item.Horario">@item.Horario</option>
                            }
                            else
                            {
                                <option value="@item.Horario">@item.Horario</option>
                            }

                        }
                    </select>
                    <label for="txtHoraInicioEditar" class="fiby-label active">Hora Inicio</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fiby-md-form">
                    <select class="fiby-input-text" id="txtHorasEditar">
                        <option disabled selected value="0"></option>
                        <option value="3">3 Horas</option>
                        <option value="4">4 Horas</option>
                        <option value="5">5 Horas</option>
                        <option value="6">6 Horas</option>
                        <option value="7">7 Horas</option>
                        <option value="8">8 Horas</option>
                        <option value="9">9 Horas</option>
                        <option value="10">10 Horas</option>
                        <option value="11">11 Horas</option>
                        <option value="12">12 Horas</option>
                    </select>
                    <label for="txtHoras" class="fiby-label active">Cantidad de Horas</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fiby-md-form">
                    @*<input type="text" value="@Model.HoraFin" class="fiby-input-text form-control" id="txtHoraFinEditar" placeholder=" ">
                <label for="txtHoraFinEditar" class="fiby-label active">Hora Fin</label>*@
                    <select class="fiby-input-text" id="txtHoraFinEditar">
                        @foreach (var item in ViewBag.ListaHorario)
                        {
                            if (item.Horario == Model.HoraFin)
                            {
                                <option selected value="@item.Horario">@item.Horario</option>
                            }
                            else
                            {
                                <option value="@item.Horario">@item.Horario</option>
                            }
                        }
                    </select>
                    <label for="txtHoraFinEditar" class="fiby-label active">Hora Fin</label>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-6">
                <div class="fiby-md-form">
                    <input type="text" value="@Model.ClienteOpcional" class="fiby-input-text form-control" id="txtClienteEditar" placeholder=" ">
                    <label for="txtClienteEditar" class="fiby-label active">Cliente</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fiby-md-form">
                    <input type="text" value="@Model.Descripcion" class="fiby-input-text form-control" id="txtDetalleEditar" placeholder=" ">
                    <label for="txtDetalleEditar" class="fiby-label active">Detalle</label>
                </div>
            </div>
        </div>*@
        <input type="hidden" id="hiddenModalServicioIsNew" name="hiddenModalServicioIsNew" value="@ViewBag.ModalGeneralIsNew" />
        <input type="hidden" id="hiddenServicioId" name="hiddenServicioId" value="@Model.IdServicio" />
    </div>

    <div class="align-self-center d-flex modal-buttons-div">
        <button type="button" class="btn btn-info btn modal-btn-save" id="btnActualizar" onclick="calendariojs.actualizarServicio();">
            ACTUALIZAR
        </button>
        <button type="button" class="btn btn-info btn" data-dismiss="modal">
            CERRAR
        </button>
    </div>

</div>
