@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}
<link href="~/app/areas/horario/views/calendario/css/index.css" rel="stylesheet">
<link href="~/app/areas/horario/views/calendario/css/jquery-ui.css" rel="stylesheet">
<link href="~/app/areas/horario/views/calendario/css/jquery-ui-autocomplete-with-clear-button.css" rel="stylesheet">

<div class="card">
    <div class="card-body wizard-content">
        <h4 class="card-title">Programación de Servicios</h4>
        <h6 class="card-subtitle"></h6>
        <form id="example-form" action="#" class="mt-5" novalidate="novalidate">
            <div role="application" class="wizard clearfix" id="steps-uid-0">
                <div class="content clearfix">
                    <div id="steps-uid-0-p-0" role="tabpanel" class="body" aria-labelledby="steps-uid-0-h-0" aria-hidden="false">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="fiby-md-form">
                                                        <select class="fiby-input-text" id="cboEmpleado">
                                                            @foreach (var item in ViewBag.ListaEmpleados)
                                                            {
                                                                <option value="@item.Codigo">@item.Descripcion</option>
                                                            }
                                                        </select>
                                                        <label for="cboEmpleado" class="fiby-label active">Empleado</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="fiby-md-form">
                                                        <input readonly type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" class="fiby-input-text form-control" id="txtFecha" placeholder=" ">
                                                        <label for="txtFecha" class="fiby-label active">Fecha</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="fiby-md-form">
                                                        <select class="fiby-input-text" id="txtHoraInicio">
                                                            @foreach (var item in ViewBag.ListaHorario)
                                                            {
                                                                <option value="@item.Horario">@item.Horario</option>
                                                            }
                                                        </select>
                                                        <label for="txtHoraInicio" class="fiby-label active">Hora Inicio</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="fiby-md-form">
                                                        <select class="fiby-input-text" id="txtHoras">
                                                            <option disabled selected value="0"></option>
                                                            <option value="3">3 Horas</option>
                                                            <option value="4">4 Horas</option>
                                                            <option value="5">5 Horas</option>
                                                            <option value="6">6 Horas</option>
                                                            <option value="7">7 Horas</option>
                                                            <option value="8">8 Horas</option>
                                                            <option value="9">9 Horas</option>
                                                            <option value="10">10 Horas</option>
                                                            <option value="11">11 Horas</option>
                                                            <option value="12">12 Horas</option>
                                                        </select>
                                                        <label for="txtHoras" class="fiby-label active">Cantidad de Horas</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="fiby-md-form">
                                                        <select class="fiby-input-text" id="txtHoraFin">
                                                            @foreach (var item in ViewBag.ListaHorario)
                                                            {
                                                                <option value="@item.Horario">@item.Horario</option>
                                                            }
                                                        </select>
                                                        <label for="txtHoraFin" class="fiby-label active">Hora Fin</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="fiby-md-form">
                                                        <select class="fiby-input-text" id="combobox">
                                                            <option selected id="originalValue" value="0"></option>
                                                            @foreach (var item in ViewBag.ListaCliente)
                                                            {
                                                                <option value="@item.IdCliente">@item.Nombres</option>
                                                            }
                                                        </select>
                                                        <label for="combobox" class="fiby-label active">Cliente</label>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-6">
                                                    <div class="fiby-md-form">
                                                        <input type="text" class="fiby-input-text form-control" id="txtDireccionCliente" placeholder=" ">
                                                        <label for="txtDireccionCliente" class="fiby-label active">Dirección Cliente</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="fiby-md-form">
                                                        <input type="text" class="fiby-input-text form-control" id="txtTelefonoCliente" placeholder=" ">
                                                        <label for="txtTelefonoCliente" class="fiby-label active">Telefono Cliente</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="fiby-md-form">
                                                        <input type="checkbox" id="chkRecurrente" />
                                                        <label for="chkRecurrente" class="active">Recurrente?</label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="ctn-button">
                                            <button type="button" id="btnBuscar" class="btn btn-info btn">Buscar Servicios por Fecha</button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="button" id="btnGrabar" class="btn btn-info btn">Grabar Servicio</button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="button" id="btnLimpiar" class="btn btn-info btn">Limpiar</button>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Programaciones de la Semana del Empleado</h5>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table id="tbServiciosPorEmpleado" class="table table-striped table-bordered">
                                                            <thead id="thServiciosPorEmpleado">
                                                                <tr>
                                                                    <th class="text-center">Acciones</th>
                                                                    <th class="text-center">Dia</th>
                                                                    <th class="text-center">Cliente</th>
                                                                    <th class="text-center">Hora Inicio</th>
                                                                    <th class="text-center">Hora Fin</th>
                                                                    <th class="text-center">Dirección</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbServiciosPorEmpleado">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @Html.Partial("Calendario")
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <h5 class="card-title">Programaciones Totales del Empleado</h5>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table id="tbServiciosPorEmpleadoTotales" class="table table-striped table-bordered">
                                                            <thead id="thServiciosPorEmpleadoTotales">
                                                                <tr>
                                                                    <th class="text-center">Horas Trabajadas del Día</th>
                                                                    <th class="text-center">Horas Trabajadas de la Semana</th>
                                                                    <th class="text-center">Horas Trabajadas del Mes</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbServiciosPorEmpleadoTotales">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@*<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                
            </div>
        </div>
    </div>
</div>*@
@*<script type="text/javascript" src="@Url.Content("~/js/mdb.min.js")"></script>*@
<script type="text/javascript" src="@Url.Content("~/app/areas/horario/views/calendario/js/jquery-ui.js")" asp-append-version="true"></script>
<script type="text/javascript" src="@Url.Content("~/app/areas/horario/views/calendario/js/jquery-ui-autocomplete-with-clear-button.js")" asp-append-version="true"></script>
<script type="text/javascript" src="@Url.Content("~/app/areas/horario/views/calendario/js/index.js")" asp-append-version="true"></script>