@model List<Fiby.Cloud.Web.DTO.Modules.Facturacion.Response.VentaDTOResponse>
<div class="table-responsive">
    @Html.Hidden("items_count", Model.Count())
    <table id="tbComprobantesAll" class="table table-striped table-bordered">
        <thead id="thComprobantesAllData">
            <tr>
                <th class="text-center">Acciones</th>
                <th class="text-center">Comprobante</th>
                <th class="text-center">Cliente</th>
                <th class="text-center">Documento</th>
                <th class="text-center">Tipo</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Observación</th>
            </tr>
        </thead>
        <tbody id="tbComprobantesAllData">
            @for (var i = 0; i < Model.Count(); i++)
            {
                var item = Model[i];

            <tr>
                <td>
                    <div class="ctn-btn-tabla ctn-btn-tabla-mx">
                        <img src="/cssadmin/assets/images/search.png" onclick="generarjs.consultaFactura(@item.IdVenta);" alt="Consulta Comprobante" data-toggle="tooltip" title="Consultar"
                             class="material-tooltip-main" data-id-ctn="_editar-consulta">
                        @if (item.Estado == "R")
                        {
                            <img src="/cssadmin/assets/images/trash.png" onclick="generarjs.bajaFactura(@item.IdVenta);" alt="Dar de Baja Factura" data-toggle="tooltip" title="Anular"
                                 class="material-tooltip-main" data-id-ctn="_editar-anular">
                        }
                    </div>
                </td>
                <td>@item.Correlativo</td>
                <td>@item.EmpresaRazonsocialCliente</td>
                <td>@item.EmpresaRUCcliente</td>
                <td>@item.CodigoComprobante</td>
                <td>@item.FechaEmision</td>
                <td>@item.DescripcionEstado</td>
                <td>@item.Observacion</td>
            </tr>
            }
        </tbody>
    </table>
</div>