
@model List<Fiby.Cloud.Web.DTO.Modules.Mantenimiento.Response.PacienteDTOResponse>

@{
    Layout = "";
}
<div class="table-responsive">
    <table id="tablaPaciente" class="display table table-striped table-hover">
        <thead id="thPaciente">
            <tr>
                <th class="text-center">DNI</th>
                <th class="text-center">Nombre Paciente</th>
                <th class="text-center">Apellido Paciente</th>
                <th class="text-center">Seguro</th>
                <th class="text-center">Telefono</th>
                <th class="text-center">Sexo</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody id="tbPaciente">
            @for (int i = 0; i < Model.Count; i++)
            {
                var item = Model.ToList()[i];

                <tr>
                    <td class="text-center">@item.DniPaciente</td>
                    <td class="text-center">@item.NombrePaciente</td>
                    <td class="text-center">@item.ApellidoPaciente</td>
                    <td class="text-center">@item.Seguro</td>
                    <td class="text-center">@item.Telefono</td>
                    <td class="text-center">@item.SexoDescripcion</td>
                    <td class="text-center">@item.SituacionRegistro</td>
                    <td class="text-center">
                        <div class="form-button-action">
                            <button class="btn btn-link btn-danger btn-lg" onclick="pacientejs.eliminarPaciente(@item.CodigoPaciente)" title="Eliminar">
                                <i class="fa fa-trash"></i>
                            </button>
                            <button class="btn btn-link btn-primary btn-lg" onclick="pacientejs.openModal(@item.CodigoPaciente)" title="Editar">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>