@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}


<div class="card">
    <div class="card-body wizard-content">
        @*<h4 class="card-title">Gestión de Entradas : </h4>*@
        <h6 class="card-subtitle"></h6>
        <form id="example-form" action="#" class="mt-5" novalidate="novalidate">
            <div role="application" class="wizard clearfix" id="steps-uid-0">
                <div class="steps clearfix">
                    <ul style="width:60%" role="tablist">
                        <li role="tab" class="first current" id="tabConsult" aria-disabled="false" aria-selected="true">
                            <a style="cursor:pointer;" id="steps-uid-0-t-0" href="#steps-uid-0-h-0" aria-controls="steps-uid-0-p-0">
                                <span class="current-info audible">current step: </span>
                                <span class="number">Consultar</span>
                            </a>
                        </li>
                        <li role="tab" class="disabled" aria-disabled="false" id="tabAdd" aria-selected="true">
                            <a style="cursor:pointer;" id="steps-uid-0-t-1" href="#steps-uid-0-h-1" aria-controls="steps-uid-0-p1">
                                <span class="current-info audible">current step: </span>
                                <span class="number">Agregar</span>
                            </a>
                        </li>
                        @*<li role="tab" class="disabled is-hidden" aria-disabled="true"><a id="steps-uid-0-t-2" href="#steps-uid-0-h-2" aria-controls="steps-uid-0-p-2"><span class="number">3.</span> Hints</a></li>
                        <li role="tab" class="disabled last is-hidden" aria-disabled="true"><a id="steps-uid-0-t-3" href="#steps-uid-0-h-3" aria-controls="steps-uid-0-p-3"><span class="number">4.</span> Finish</a></li>*@
                    </ul>
                </div>
                <div class="content clearfix">
                    <div id="steps-uid-0-p-0" role="tabpanel" class="body" aria-labelledby="steps-uid-0-h-0"  aria-hidden="false">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="fiby-md-form">
                                                        <input type="text" class="fiby-input-text form-control" id="txtFechaInicialEntrada" value="@DateTime.Now.ToString("dd/MM/yyyy")">
                                                        <label for="txtFechaInicialEntrada" class="fiby-label active">Fecha Inicial</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="fiby-md-form">
                                                        <input type="text" class="fiby-input-text form-control" id="txtFechaFinalEntrada" value="@DateTime.Now.ToString("dd/MM/yyyy")">
                                                        <label for="txtFechaFinalEntrada" class="fiby-label active">Fecha Final</label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="ctn-button">
                                            <button type="button" id="btnBuscar" class="btn btn-info btn">Buscar</button>
                                            <button type="button" id="btnLimpiar" class="btn btn-info btn">Limpiar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Registros</h5>
                                        <div class="row">
                                            <div class="col-md-12">
                                                @Html.Partial("Grid")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="steps-uid-0-p-1" class="body" role="tabpanel" aria-labelledby="steps-uid-0-h-1" aria-hidden="true" style="display: none;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="fiby-md-form">
                                                        <input type="text" class="fiby-input-text form-control" id="txtNumeroDocumentoAdd" placeholder="Ingresa el dato">
                                                        <label for="txtNumeroDocumentoAdd" class="fiby-label active">Nº de Documento <span style="color:red">*</span></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="fiby-md-form">
                                                        <input type="text" readonly class="fiby-input-text form-control" id="txtFechaRegostroAdd" value="@DateTime.Now.ToString("dd/MM/yyyy")">
                                                        <label for="txtFechaRegostroAdd" class="fiby-label active">Fecha de Registro</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="fiby-md-form">
                                                        <input type="text" class="fiby-input-text form-control" id="txtDocProveedorEntrada" placeholder="Ingresa el dato">
                                                        <label for="txtDocProveedorEntrada" class="fiby-label active">Doc. Proveedor</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-10">
                                                            <div class="fiby-md-form">
                                                                <input type="text" class="fiby-input-text form-control" id="txtNombreProveedorEntrada">
                                                                <label for="txtNombreProveedorEntrada" class="fiby-label active">Nombre Proveedor</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-2 dv-fiby-search">
                                                            <img class="mostrar-modal img-fiby-search" src="~/img/search_fiby.png" height="25px">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="fiby-md-form">
                                                        <input type="text" class="fiby-input-text form-control" id="txtCodProdEntrada" placeholder="Ingresa el dato">
                                                        <label for="txtCodProdEntrada" class="fiby-label active">Codigo Producto</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-10">
                                                            <div class="fiby-md-form">
                                                                <input type="text" class="fiby-input-text form-control" id="txtDescProductoEntrada">
                                                                <label for="txtDescProductoEntrada" class="fiby-label active">Descripción Producto</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-2 dv-fiby-search">
                                                            <img class="mostrar-modal img-fiby-search" src="~/img/search_fiby.png" height="25px">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="fiby-md-form">
                                                        <input type="text" class="fiby-input-text form-control" id="txtPrecioCompraEntrada" placeholder="Ingresa el dato">
                                                        <label for="txtPrecioCompraEntrada" class="fiby-label active">Precio Compra</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="fiby-md-form">
                                                        <input type="text" class="fiby-input-text form-control" id="txtPrecioVentaEntrada" placeholder="Ingresa el dato">
                                                        <label for="txtPrecioVentaEntrada" class="fiby-label active">Precio Venta</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="row">
                                                        <div class="col-10">
                                                            <div class="fiby-md-form">
                                                                <input type="text" class="fiby-input-text form-control" id="txtCantidadEntrada" placeholder="Ingresa el dato">
                                                                <label for="txtCantidadEntrada" class="fiby-label active">Cantidad</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-2 dv-fiby-search">
                                                            <img class="mostrar-modal img-fiby-search" src="~/img/plus.png" height="25px">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table id="tbEntradaAgregar" class="table table-striped table-bordered">
                                                        <thead id="thEntradaAgregarData">
                                                            <tr>
                                                                <th class="text-center">Codigo</th>
                                                                <th class="text-center">Descripción</th>
                                                                <th class="text-center">Precio Compra</th>
                                                                <th class="text-center">Cantidad</th>
                                                                <th class="text-center">Sub Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbEntradaAgregarData">
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <label for="txtNumeroDocumentoEntrada" class="text-right control-label col-form-label" style=""><b>Total : 0.00</b></label>
                                            </div>
                                        </div>
                                        <div class="card-body text-center">
                                            <div class="ctn-button">
                                                <button type="button" id="btnGrabarEntrada" class="btn btn-info btn">Grabar Entrada</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/app/areas/almacen/views/entrada/js/index.js")" asp-append-version="true"></script>