@using Newtonsoft.Json;
@using Fiby.Cloud.Web.DTO.Modules.User.Response;
@using Fiby.Cloud.Web.Client.Extensions;
@{
    var DataListOpcionAdmin = TempData.Count > 0 ?
        JsonConvert.DeserializeObject<UserDTOResponse>(TempData["UserOptions"].ToString()) :
        User.Identity.ListAplicationAdmin();
    //var DataListOpcionAdmin = User.Identity.ListAplicationAdmin();

    //var DataListAplication = User.Identity.ListAplicationAdmin();

    //var DataListOpcionAdmin = new UserDTOResponse();
    //string perfilValue = ViewData["profile"] == null ? "" : ViewData["profile"].ToString();

    //if (perfilValue != string.Empty)
    //    DataListOpcionAdmin = (UserDTOResponse)ViewData["AuthOptions"];
    //else
    //    DataListOpcionAdmin = User.Identity.ListMenuOptionAdmin();


}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Atlantis Lite - Bootstrap 4 Admin Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="~/img/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="~/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/atlantis.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    @*<link rel="stylesheet" href="~/css/demo.css">*@
</head>
<body>
    <div class="wrapper">
        <div class="main-header">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="blue">

                <a href="index.html" class="logo">
                    <img src="~/img/logo.svg" alt="navbar brand" class="navbar-brand">
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="icon-menu"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="icon-menu"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">

                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="~/img/mujer.png" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <li>
                                    <div class="user-box">

                                        <div class="avatar-lg">
                                            <img src="~/img/mujer.png" alt="image profile" class="avatar-img rounded">
                                        </div>
                                        <div class="u-text">
                                            <h4>@ViewBag.NombreSesion</h4>
                                            <p class="text-muted">Administrador</p><a href="profile.html" class="btn btn-xs btn-secondary btn-sm">View Profile</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="../../controller/cerrarSesion.php">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- End Navbar -->
        </div>

        

        <!-- Sidebar -->
        <div class="sidebar sidebar-style-2">
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <div class="user">
                        <div class="avatar-sm float-left mr-2">
                            <img src="~/img/mujer.png" alt="..." class="avatar-img rounded-circle">
                        </div>
                        <div class="info">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                <span>
                                    @ViewBag.NombreSesion
                                    <span class="user-level">Administrator</span>
                                    <span class="caret"></span>
                                </span>
                            </a>
                            <div class="clearfix"></div>

                            <div class="collapse in" id="collapseExample">
                                <ul class="nav">
                                    <li>
                                        <a href="#profile">
                                            <span class="link-collapse">My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#edit">
                                            <span class="link-collapse">Edit Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#settings">
                                            <span class="link-collapse">Settings</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-primary">

                        @for (int i = 0; i < DataListOpcionAdmin.oListMenu.Count; i++)
                        {

                            <li class="nav-item">
                                <a data-toggle="collapse" href="#@DataListOpcionAdmin.oListMenu[i].MenuId">
                                    <i class="fas @DataListOpcionAdmin.oListMenu[i].Icon"></i>
                                    <p>@DataListOpcionAdmin.oListMenu[i].Name</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="@DataListOpcionAdmin.oListMenu[i].MenuId">
                                    <ul class="nav nav-collapse">

                                        @for (int j = 0; j < DataListOpcionAdmin.oListSubMenu.Count; j++)
                                        {
                                            @if (DataListOpcionAdmin.oListSubMenu[j].IdMenu == DataListOpcionAdmin.oListMenu[i].MenuId)
                                            {
                                                <li>
                                                    <a href="@Url.Action(DataListOpcionAdmin.oListSubMenu[j].Action, DataListOpcionAdmin.oListSubMenu[j].Controlator, new { Area = DataListOpcionAdmin.oListSubMenu[j].Area })">
                                                        <span class="sub-item">@DataListOpcionAdmin.oListSubMenu[j].Name</span>
                                                    </a>
                                                </li>
                                            }

                                        }

                                    </ul>
                                </div>
                            </li>

                        }

                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">

            <div class="content">
                <div id="dvgeneral">
                    @RenderBody()
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    
                    <div class="copyright ml-auto">
                        Diseñado y Desarrollado por <a href="https://www.fibysoft.com">Fibysoft</a>.
                    </div>
                </div>
            </footer>
        </div>

        <div id="loading" class="preloader" style="display:none;opacity:0.5;">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>

        <div id="divSection">
            @RenderSection("SectionModal", required: false)
        </div>

        <!--   Core JS Files   -->
        <script src="~/js/core/jquery.3.2.1.min.js"></script>
        <script src="~/js/core/popper.min.js"></script>
        <script src="~/js/core/bootstrap.min.js"></script>

        <!-- jQuery UI -->
        <script src="~/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
        <script src="~/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

        <!-- jQuery Scrollbar -->
        <script src="~/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>


        <!-- Chart JS -->
        <script src="~/js/plugin/chart.js/chart.min.js"></script>

        <!-- jQuery Sparkline -->
        <script src="~/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

        <!-- Chart Circle -->
        <script src="~/js/plugin/chart-circle/circles.min.js"></script>

        <!-- Datatables -->
        <script src="~/js/plugin/datatables/datatables.min.js"></script>

        <!-- Bootstrap Notify -->
        <script src="~/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

        <!-- jQuery Vector Maps -->
        <script src="~/js/plugin/jqvmap/jquery.vmap.min.js"></script>
        <script src="~/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

        <!-- Sweet Alert -->
        <script src="~/js/plugin/sweetalert/sweetalert.min.js"></script>

        <!-- Atlantis JS -->
        <script src="~/js/atlantis.min.js"></script>

        <!-- Atlantis DEMO methods, don't include it in your project! -->
        @*<script src="~/js/setting-demo.js"></script>
        <script src="~/js/demo.js"></script>*@


        @RenderSection("SectionScript", required: false)
</body>
</html>