@model Fiby.Cloud.Web.DTO.Modules.User.Response.CategoryDTOResponse
@{ Layout = null; }
<div class="modal-content">
    <div class="text-center">
        <div class="modal-header center-block">
            <h4 class="modal-title text-center" id="modal-step-title">
                <strong>@ViewBag.titleModal</strong>
            </h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="control-group modal-control-group">
                    <label class="control-label">Descripcion : </label>
                    <input placeholder="Ingrese el dato" class="modal-text-input" value="@Model.Description" name="exam_file" id="txtModalDescription" type="text">
                </div>
            </div>
            <div class="col-md-6">
                <div class="control-group modal-control-group">
                    <label class="control-label">
                        Estado de Registro :
                    </label>
                    <select class="form-select modal-select" id="cboModalActive">

                        @if (@ViewBag.ModalGeneralIsNew == "1")
                        {
                            foreach (var item in ViewBag.listStatus)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else
                        {
                            foreach (var item in ViewBag.listStatus)
                            {
                                var Codigo = @item.Value;
                                string ValorActivo = Model.Active == true ? "1" : "0";
                                if (item.Value == ValorActivo)
                                {
                                    <option value="@Codigo" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@Codigo">@item.Text</option>
                                }
                            }
                        }

                    </select>
                </div>
            </div>
        </div>
        <input type="hidden" id="hiddenModalCategoryIsNew" name="hiddenModalCategoryIsNew" value="@ViewBag.ModalGeneralIsNew" />
        <input type="hidden" id="hiddenCategoryId" name="hiddenCategoryId" value="@Model.CategoryId" />
    </div>

    <div class="align-self-center d-flex modal-buttons-div">
        <button type="button" class="btn btn-info btn modal-btn-save" id="btnSaveOrUpdate" onclick="categoryjs.save();">
            GUARDAR
        </button>
        <button type="button" class="btn btn-info btn" data-dismiss="modal">
            CERRAR
        </button>
    </div>

</div>
