@model Fiby.Cloud.Web.DTO.Modules.Reportes.Response.AnuncioDTOResponse
@{ Layout = null; }
<div class="modal-content">
    <div class="text-center">
        <div class="modal-header center-block">
            <h4 class="modal-title text-center" id="modal-step-title">
                <strong>@ViewBag.titleModal</strong>
            </h4>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="fiby-md-form">
                    <input type="text" value="@Model.Titulo" class="fiby-input-text form-control" id="txtTituloEditar" placeholder=" ">
                    <label for="txtTituloEditar" class="fiby-label active">Titulo Anuncio</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="fiby-md-form">
                    <input type="text" value="@Model.Detalle" class="fiby-input-text form-control" id="txtDetalleEditar" placeholder=" ">
                    <label for="txtDetalleEditar" class="fiby-label active">Detalle</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="fiby-md-form">
                    <input type="number" value="@Model.Orden" class="fiby-input-text form-control" id="txtOrdenEditar" placeholder=" ">
                    <label for="txtOrdenEditar" class="fiby-label active">Orden</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="fiby-md-form">
                    <input readonly type="text" value="@Model.FechaInicio.Value.ToString("dd/MM/yyyy")" class="fiby-input-text form-control" id="txtFechaInicioEditar" placeholder=" ">
                    <label for="txtFechaInicioEditar" class="fiby-label active">Fecha Inicio</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fiby-md-form">
                    <input readonly type="text" value="@Model.FechaFin.Value.ToString("dd/MM/yyyy")" class="fiby-input-text form-control" id="txtFechaFinEditar" placeholder=" ">
                    <label for="txtFechaFinEditar" class="fiby-label active">Fecha Fin</label>
                </div>
            </div>
        </div>

        <input type="hidden" id="hiddenModalAnunciosNew" name="hiddenModalAnuncioIsNew" value="@ViewBag.ModalGeneralIsNew" />
        <input type="hidden" id="hiddenAnuncioId" name="hiddenAnuncioId" value="@Model.IdAnuncio" />
    </div>

    <div class="align-self-center d-flex modal-buttons-div">
        <button type="button" class="btn btn-info btn modal-btn-save" id="btnActualizar" onclick="anunciojs.actualizarAnuncio();">
            ACTUALIZAR
        </button>
        <button type="button" class="btn btn-info btn" data-dismiss="modal">
            CERRAR
        </button>
    </div>

</div>
