@model List<Fiby.Cloud.Web.DTO.Modules.Facturacion.Response.CargaFacturaDTOResponse>
@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Carga de Facturas</h4>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Datos de Venta</h4>
                    <div class="col-md-12">
                        <div class="row mb-3">
                            <div class="col-lg-2">
                                <label for="" class="text-right control-label col-form-label">Mes:</label>
                            </div>
                            <div class="col-lg-2">
                                <select class="form-select modal-select" id="cboMonthtRegisterSale">
                                    @foreach (var item in ViewBag.listaMeses)
                                    {
                                        if (item.Value == DateTime.Now.ToString("MM"))
                                        {
                                            <option selected value="@item.Value">@item.Text</option>
                                        }else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                        
                                    }
                                </select>
                            </div>
                            <div class="col-lg-2">
                                <label for="" class="text-right control-label col-form-label">Año: </label>
                            </div>
                            <div class="col-lg-2">
                                <select class="form-select modal-select" id="txtYearRegisterSale">
                                    @foreach (var item in ViewBag.listaAnios)
                                    {
                                        if (item.Value == DateTime.Now.ToString("yyyy"))
                                        {
                                            <option selected value="@item.Value">@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-2">
                                <label for="" class="text-right control-label col-form-label">Tipo Documento Venta :</label>
                            </div>
                            <div class="col-lg-2">
                                <select class="form-select modal-select" id="cboTypeDocumentSale">
                                    @*<option value="03" selected>Boleta</option>*@
                                    <option value="01">Factura</option>
                                </select>
                            </div>
                            <div class="col-lg-2">
                                <label for="" class="text-right control-label col-form-label">Fecha Emisión : </label>
                            </div>
                            <div class="col-lg-2">
                                <input type="text" class="form-control" id="txtDateRegisterSale" placeholder="dd/mm/yyyy">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-2">
                                <label for="txtSerieRegisterSale" class="text-right control-label col-form-label">Serie :</label>
                            </div>
                            <div class="col-lg-2">
                                <input type="text" maxlength="4" class="form-control" id="txtSerieRegisterSale" placeholder="Ingrese dato">
                            </div>
                            <div class="col-lg-2">
                                <label for="" class="text-right control-label col-form-label">Numero Serie : </label>
                            </div>
                            <div class="col-lg-2">
                                <input type="text" class="form-control" id="txtNumberSerieRegisterSale" placeholder="Ingrese dato">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Producto/Servicio</h4>
                    <div class="form-group row">
                        <label for="txtNetoProduct" class="col-sm-3 text-right control-label col-form-label">Valor neto(sin igv): </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtNetoProduct" placeholder="Ingrese dato">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtIGVProduct" class="col-sm-3 text-right control-label col-form-label">IGV: </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtIGVProduct" placeholder="Ingrese dato">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtIGVProduct" class="col-sm-3 text-right control-label col-form-label">Otros Cargos: </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtOtherChargeProduct" placeholder="Ingrese dato">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtBrutoProduct" class="col-sm-3 text-right control-label col-form-label">Valot Bruto(con igv): </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtBrutoProduct" placeholder="Ingrese dato">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cliente</h4>
                    <div class="form-group row">
                        <label class="col-sm-3 text-right control-label col-form-label">Tipo Documento Cliente: </label>
                        <div class="col-sm-9">
                            <select class="form-select modal-select" id="cboTypeDocumentClientSale">
                                @*<option value="1" selected>DNI</option>*@
                                <option value="6">RUC</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtNumberDocumentClient" class="col-sm-3 text-right control-label col-form-label">Numero de documento: </label>
                        <div class="col-sm-9">
                            <input type="text" maxlength="11" class="form-control" id="txtNumberDocumentClient" placeholder="Ingrese dato">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtNameCompleteClient" class="col-sm-3 text-right control-label col-form-label">Razón Social: </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtNameCompleteClient" placeholder="Ingrese dato">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body text-center">
            <div class="ctn-button">
                @*<button type="button" id="btnGenerarXML" class="btn btn-info btn">Generar XML</button>*@
                <button type="button" id="btnBuscar" class="btn btn-info btn">Buscar</button>
                @*<button type="button" id="btnLimpiar" class="btn btn-info btn">Limpiar</button>*@
                <button type="button" id="btnGrabar" onclick="cargafacturajs.registrarFactura();" class="btn btn-info btn">Grabar</button>
                <button type="button" id="btnGenerarArchivo" onclick="cargafacturajs.DownloadDocument0801();" class="btn btn-info btn">Archivo PLE COMPRAS 0801</button>
                <button type="button" id="btnGenerarArchivo" onclick="cargafacturajs.DownloadDocument0802();" class="btn btn-info btn">Archivo PLE COMPRAS 0802</button>
                <button type="button" id="btnGenerarArchivo" onclick="cargafacturajs.DownloadDocument1401();" class="btn btn-info btn">Archivo PLE VENTAS 1401</button>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Registros</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="divGrid">
                                @Html.Partial("Grid")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script type="text/javascript" src="@Url.Content("~/app/areas/facturacion/views/cargafactura/js/index.js")" asp-append-version="true"></script>